<section class="app__card">
    <button class="card__reset" type="reset"> <i class="far fa-trash-alt"></i><span class="card__reset--text">Reset</span> </button>
    <div class="card__preview">
      <div class="card__preview--text">
        <h3 class="card__preview--text-name">Greta Thunberg</h3>
        <h4 class="card__preview--text-job">Activista</h4>
      </div>
      <img
        class="card__preview--photo"
        src="./assets/images/greta.jpg"
        alt="Previsualización foto"
      />
      <nav class="card__preview--nav">
        <ul class="card__socialmedia">
          <li class="card__socialmedia--item">
            <a href="" alt="mobile">
              <i class=" card__socialmedia--link fas fa-mobile-alt"></i>
            </a>
          </li>
          <li class="card__socialmedia--item">
            <a href="" alt="email">
              <i class=" card__socialmedia--link far fa-envelope"></i> 
            </a>
          </li>
          <li class="card__socialmedia--item">
            <a href="" alt="linkedin">
              <i class=" card__socialmedia--link fab fa-linkedin-in"></i> 
            </a>
          </li>
          <li class="card__socialmedia--item">
            <a href="" alt="github">
              <i class="  card__socialmedia--link fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>