<section class="app__card">
    <button class="card__reset" type="reset">
      <img class="card__reset--icon" src="./assets .svg" alt="Burguer button">Reset</button>
    <div class="card__preview">
      <div class="card__preview--text">
        <h3 class="card__preview--text-name">Nombre Apellido</h3>
        <h4 class="card__preview--text-job">Front-end developer</h4>
      </div>
      <img
        class="card__preview--photo"
        src=""
        alt="Previsualización foto"
      />
      <nav class="card__preview--nav">
        <ul class="card__socialmedia">
          <li class="card__socialmedia--item">
            <a href="" alt="mobile">
              <i></i>
            </a>
          </li>
          <li class="card__socialmedia--item">
            <a href="" alt="email">
              <i></i>
            </a>
          </li>
          <li class="card__socialmedia--item">
            <a href="" alt="linkedin">
              <i></i>
            </a>
          </li>
          <li class="card__socialmedia--item">
            <a href="" alt="github">
              <i></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </section>