<fieldset class="design">
  <div class="design__header js-collapsable-header">
    <h2 class="design__header--text">
      <i class="design__header--text-icon far fa-object-ungroup "></i>Diseña
    </h2>
    <i class="up-icon fas fa-chevron-up js-arrow-up"></i>
  </div>
  <div class="design__colors js-collapsable-container">
    <h5 class="design__colors--subtitle">Colores</h5>
    <div class="design__colors--palettes">
      <div class="palette palette-1">
        <label for="palette1">
          <input
            id="palette1"
            type="radio"
            value="1"
            name="palette"
            class="js-palette"
            checked
          />
          <div class="palette1__color1 color-box">1</div>
          <div class="palette1__color2 color-box">2</div>
          <div class="palette1__color3 color-box">3</div>
        </label>
      </div>
      <div class="palette palette2">
        <label for="palette2">
          <input
            id="palette2"
            type="radio"
            value="2"
            name="palette"
            class="js-palette"
            
          />
          <span class="palette2__color1 color-box">1</span>
          <span class="palette2__color2 color-box">2</span>
          <span class="palette2__color3 color-box">3</span>
        </label>
      </div>
      <div class="palette palette3">
        <label for="palette3">
          <input
            id="palette3"
            type="radio"
            value="3"
            name="palette"
            class="js-palette"
          />
          <span class="palette3__color1 color-box">1</span>
          <span class="palette3__color2 color-box">2</span>
          <span class="palette3__color3 color-box">3</span>
        </label>
      </div>
    </div>
  </div>
</fieldset>
