<fieldset class="fill__box">
    <div class="fill__title">
      <h2 class="fill__title--title">
        <i class="far fa-keyboard fill__title--icon"></i>
        Rellena
        <i class="fas fa-angle-up fill__title--arrow"></i>
      </h2>
      <i></i>
    </div>

    <div class="fill">
      <label class="fill__label" for="name">Nombre completo</label>
      <input class="fill__input" type="text" id="name" name="name" placeholder="Ej: Greta Thunberg" required/>
    
      <label class="fill__label" for="job">Puesto</label>
      <input class="fill__input" type="text" id="job" name="job" 
      placeholder="Ej: Activista" required/>
   
      <label class="fill__label" for="image">Imagen de perfil</label>
      <div class="fill__image">
        <button class="fill__image--button">Añadir imagen</button>
      	<div class="fill__image--preview"></div>
      </div>
    
      <label class="fill__label"for="email">Email</label>
      <input class="fill__input" type="email" id="email" name="email"
        placeholder="Ej: greta-thunberg@gmail.com" required/>
  
      <label class="fill__label" for="phone">Teléfono</label>
      <input class="fill__input" type="tel" id="phone" name="phone"
        placeholder="Ej: 123456789" required/>

      <label class="fill__label" for="linkedin">Linkedin</label>
      <input class="fill__input" type="text" id="linkedin" name="linkedin" placeholder="Ej: linkedin.com/in/greta-thunberg"/>
    
      <label class="fill__label"for="github">Github</label>
      <input class="fill__input" type="text" id="github" name="github"
        placeholder="Ej: @greta-thunberg"/>
    </div>
  </fieldset>