<fieldset class="fill__box">
    <div class="fill__title">
      <i></i>
      <h2 class="fill__title--title">Rellena</h2>
      <i></i>
    </div>

    <div class="fill__name">
      <label for="name">Nombre completo</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Ej: Greta Thunberg"
        required
      />
    </div>
    <div class="fill__job">
      <label for="job">Puesto</label>
      <input
        type="text"
        id="job"
        name="job"
        placeholder="Ej: Activista"
        required
      />
    </div>
    <div class="fill__image">
      <label for="image">Imagen de perfil</label>
      <button>Añadir imagen</button>
      <div class="fill__image--preview"></div>
    </div>
    <div class="fill__email">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Ej: greta-thunberg@gmail.com"
        required
      />
    </div>
    <div class="fill__phone">
      <label for="phone">Teléfono</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        placeholder="Ej: 123456789"
        required
      />
    </div>
    <div class="fill__linkedin">
      <label for="linkedin">Linkedin</label>
      <input
        type="text"
        id="linkedin"
        name="linkedin"
        placeholder="Ej: linkedin.com/in/greta-thunberg"
        required
      />
    </div>
    <div class="fill__github">
      <label for="github">Github</label>
      <input
        type="text"
        id="github"
        name="github"
        placeholder="Ej: @greta-thunberg"
        required
      />
    </div>
  </fieldset>