<main class="main">
  <div class="main__logo">
    <img class="main__logo--img"
      src="./assets/images/logo-awesome.svg"
      alt="Logo Equipo"   
  />

  <!-- Cambiar cuando tengamos el nombre del equipo -->
  </div>
  <h1 class="main__title">Crea tu tarjeta de visita</h1>

  <p class="main__text">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>

  <section class="main__section">
    <ul class="main__list">
      <!-- Mirar clases para iconos -->
      <li class="main__list--item">
        <i class="main__list--item-icon"></i>
        <h5 class="main__list--item-text">Diseña</h5>
      </li>
      <li class="main__list--item">
        <i class="main__list--item-icon"></i>
        <h5 class="main__list--item-text">Rellena</h5>
      </li>
      <li class="main__list--item">
        <i class="main__list--item-icon"></i>
        <h5 class="main__list--item-text">Comparte</h5>
      </li>
    </ul>
  </section>
  <a class="main__button" href="../app.html" title="Ir a crear tu tarjeta">Comenzar</a>
</main>

