<fieldset class="share js-collapsable-container collapsable--close">
  <div class="share__header js-collapsable-header">
    <h2 class="share__header--title">
      <i class="fas fa-share-alt share__header--icon js-arrow-share js-arrow-up"></i>
      Comparte
    </h2>
    <i class="fas fa-chevron-up share__header--arrow"></i>
  </div>
  <div class="share__button hidden__container">
    <button class="share__button--create js-create-btn" type="submit" name="submit" id="submit">
      <i class="far fa-address-card share__button--icon"></i>
      Crear tarjeta
    </button>

    <div class="shareclick hidden-share js-twitter-share">
      <h3 class="shareclick__title">La tarjeta ha sido creada:</h3>
      <p class="shareclick__text js-card-link"></p>

      <button type="button" class="shareclick__twitter js-twitter-btn">
        <i class="fab fa-twitter"></i>
        <a href="" class="js-twitter-link shareclick__twitter--text" data-show-count="false" target="_blank"
          >Compartir en twitter</a
        >
      </button>
    </div>
  </div>
</fieldset>