//fonts
$font-title: "Merriweather", serif;
$font-text: "Open Sans", sans-serif;
$font-card: "Montserrat", sans-serif;

//colours
$color-bg-1: #f5f5f5;
$color-bg-2: #ffffff;
$gradient-1: #bfcdd0;
$icons: #e17334;
$main-text: #114e4e;
$smaller-text: #54585a; //h5 en main
$placeholder: #c5c5c5;
$border: #a2deaf;
$twitter-brand: #00a0f5;
$shadows: #00000052;
$footer-text: #6b6b6b;
$border-lines: #d8d8d8;
$button-1: #438792;
$button-2: #d5d5d5;

//pallete-a
$palette-a-1: #114e4e; 
$palette-a-2: #438792; 
$palette-a-3: #a2deaf; 

//pallete-b
$palette-b-1: #420101; 
$palette-b-2: #bd1010; 
$palette-b-3: #e95626;

//pallete-c
$palette-c-1: #3e5b65; 
$palette-c-2: #eab052; 
$palette-c-3: #a0c0cf;