.app__card {
     background-image: linear-gradient(to bottom,$gradient-1,$pale-grey);
     width: 100%;
     min-width: 300px;
     height:460px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.card__reset {
    
    transform: translate(-105px);
    width: 75px;
    height: 30px;
    margin: 30px 0 20px 45px;
    padding-left:9px ;
    margin-top: 5px;
    border: 1px solid $color-bg-2;
    border-radius: 15px;
    background-color: $gradient-1;   
    text-transform: uppercase;
    font-size: 12px;
}
.card__reset--text {
    padding: 6px 12px 6px 8px;
    font-size: 12px;
    font-family: $font-text;
    color: $smaller-text;
}

.card__preview {
     width: 240px;
     height: 330px;
     border-radius: 2px;
     background-color:$color-bg-2;
     text-align: center;
     padding-top: 10px;
     margin-bottom: 30px;
    //  position: relative;
     left:45px;
 }
 
.card__preview--text-name {
 width: 200px;
 height: 20px;
 border-left: 5px solid $button-1;
 color:$main-text;
 line-height: 20px;
 font-size: 18px;
 text-align: center;
 font-family: $font-card;
 font-weight: bold;
}
.card__preview--text-job {
 border-left: 5px solid $button-1;
 width: 209px;
 height: 20px;
 color:$smaller-text;
 line-height: 20px;
 font-size: 16px;
 text-align: center;
 font-family: $font-card;
 margin-bottom: 15px;
}
 

.card__preview--photo {                                 
 background-size: cover;
 background-position: center; 
 }

.card__socialmedia {
    margin-left: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    
}
.card__socialmedia--item {
    width: 32px;
    height: 32px;
    border: 2px solid $border;
    border-radius: 15px;
    padding:5px 7px 8px 6px;
    margin: 5px; 
}
.card__socialmedia--link {
    color: $main-text;
}
.app__custom {
    background-color: coral;
}


@media all and (min-width:768px) {
    .app__card {
        width: 40%;
        height: 800px;
         }
 }
 @media all and (min-width:1024px)   {  
 .app__card {
    width: 60%; 
}
}