<<<<<<< HEAD
.footer{
    border-top: solid 1px $border-lines;
    padding: 0x 61px 20px 61px;

    &__copy{
    margin-top: 18px;
    color: $footer-text;
    text-align: center;
    font-family: $font-text;
    font-size: 14px;
    opacity: 0.5;
    display: block;
    }

    &__logo{
        width: 103px;
        height: 40px;
        margin-left: 109px;
        margin-top: 12px;
        margin-bottom: 20px;
    }
}

=======
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0 20px 0;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    &__copy {
        font-size: 14px;
        font-family: $font-text;
        color: $footer-text;
        margin-top: 18px;
        margin-bottom: 12px;
        line-height: 1.43;
        opacity: 0.5;

        @include tablet {
            margin: 18px 0 22px 41px;
        }
    }

    &__logo {
        width: 103px;
        margin-bottom: 20px;

        @include tablet {
            margin: 10px 40px 10px;
        }
    }
}
>>>>>>> master
