.main{

    background-color: $color-bg-1;
    height: 438px;


    &__logo{
        width: 250px;
        height: 63px;
        object-fit: contain;
        margin-top: 95px;
        margin-left: 35px; 
    }

    &__title{
        color: $icons;
        font: $font-title;
        font-size: 19.2px;
        font-weight: 900;
        text-align: center;
        margin-top: 35.4px;
    }

    &__text{
        color: $main-text;
        font-family: $font-text;
        text-align: center;
        font-size: 12.8px;

        &--span{
           display: block; 
        }
    }

    &__section{
        border: solid rgba(225,115,52,0.21) 1.6px;
        border-radius: 4px;
        width: 268px;
        height: 73.8px;
        margin: 17.8px auto;
        padding: 15px 20px 9.8px 20px;
    }

    &__list{
        list-style: none;
        display: flex;
        justify-content: space-between;

        &--item{    
            color: $smaller-text;
            font-family: $font-text;
            font-size: 12.8px;
            font-weight: normal;
            width: 60px;
            height: 48.8px;
            margin: 10px;
            text-align: center;
            

        }
    }

    &__button{
        background-color: $button-1;
        text-decoration: none;
        color: white;
        font-family: $font-text;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        width: 129px;
        height: 42px;
        margin: auto;
        display: flex;
        padding: 10px 20px;
        border-radius: 21px;
        margin-bottom: 30px;
        
    }
}